<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gyuhwan.android.blockchain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@drawable/poul_market_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/poul_market_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.ItemDetailActivity" />
        <activity android:name=".activity.AddItemActivity"></activity>
    </application>

</manifest>